openapi: '3.0.3'
info:
  title: Tripost API
  version: '1.0'
  description: Travel SNS API for sharing trip experiences
servers:
  - url: https://mytripost.com
    description: Production server
  - url: http://localhost
    description: Development server (Laravel Sail)

paths:
  # ━━━ Authentication ━━━
  /sanctum/csrf-cookie:
    get:
      summary: Get CSRF cookie
      tags:
        - Authentication
      description: Initialize CSRF protection for SPA
      responses:
        '204':
          description: CSRF cookie set successfully

  /auth/register:
    post:
      summary: Register a new user
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [displayid, email, password, password_confirmation]
              properties:
                displayid:
                  type: string
                  minLength: 5
                  maxLength: 50
                  description: Alphanumeric only, min 5 chars
                email:
                  type: string
                  format: email
                  maxLength: 255
                  pattern: '^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
                password:
                  type: string
                  minLength: 8
                  description: Must meet complexity requirements
                password_confirmation:
                  type: string
      responses:
        '302':
          description: Redirect to profile.edit after registration
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      summary: Login user
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                remember:
                  type: boolean
                  default: false
      responses:
        '302':
          description: Redirect to posts.index after login
        '422':
          description: Invalid credentials or validation error

  /auth/logout:
    post:
      summary: Logout user
      tags: [Authentication]
      security:
        - cookieAuth: []
        - csrfToken: []
      responses:
        '302':
          description: Redirect to /auth/login after logout

  /auth/forgot-password:
    get:
      summary: Show password reset request form
      tags: [Authentication]
      responses:
        '200':
          description: Password reset form rendered
    post:
      summary: Send password reset link
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '302':
          description: Back with status message
        '422':
          description: Validation error

  /auth/reset-password/{token}:
    parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        description: Password reset token
    get:
      summary: Show password reset form
      tags: [Authentication]
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Password reset form rendered
    post:
      summary: Reset password
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, email, password, password_confirmation]
              properties:
                token:
                  type: string
                  description: Same token from path parameter (for body redundancy)
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                password_confirmation:
                  type: string
      responses:
        '302':
          description: Redirect to login with status
        '422':
          description: Validation error

  # ━━━ Profile ━━━
  /profile:
    get:
      summary: Show own profile page (authenticated user)
      tags: [Profile]
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Own profile page with posts, countries, followers/following
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      id: {type: integer}
                      displayid: {type: string}
                      name: {type: string, nullable: true}
                      profile_image: {type: string, nullable: true}
                      bio: {type: string, nullable: true}
                      visited_countries: {type: array, items: {type: string}}
                      posts_count: {type: integer}
                      followers_count: {type: integer}
                      following_count: {type: integer}
                  countries:
                    type: array
                    items:
                      type: object
                      properties:
                        id: {type: integer}
                        code: {type: string}
                        name: {type: string}
                        image: {type: string, nullable: true}
                  posts:
                    $ref: '#/components/schemas/PaginatedPosts'

    post:
      summary: Update own profile
      tags: [Profile]
      security:
        - cookieAuth: []
        - csrfToken: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [displayid]
              properties:
                displayid:
                  type: string
                  minLength: 5
                name:
                  type: string
                  maxLength: 255
                  nullable: true
                bio:
                  type: string
                  maxLength: 1000
                  nullable: true
                profile_image:
                  type: string
                  format: binary
                  description: jpg, jpeg, png, webp
                visited_countries:
                  type: array
                  items:
                    type: string
      responses:
        '302':
          description: Redirect to profile.show after update
        '422':
          description: Validation error

  /profile/edit:
    get:
      summary: Show profile edit form
      tags: [Profile]
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Profile edit form with user data and countries

  /profile/destroy:
    get:
      summary: Show account deletion confirmation page
      tags: [Profile]
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Account deletion confirmation page

    post:
      summary: Delete own account (実装では DELETE だが OpenAPI では POST に変更)
      tags: [Profile]
      security:
        - cookieAuth: []
        - csrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password:
                  type: string
                _method:
                  type: string
                  enum: [DELETE]
                  description: Laravel method spoofing (to simulate DELETE)
      responses:
        '302':
          description: Redirect to /auth/register with success message
        '422':
          description: Validation error (e.g., incorrect password)

  /profile/{user}:
    get:
      summary: Show public profile of a user
      tags: [Profile]
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Public profile page
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      id: {type: integer}
                      displayid: {type: string}
                      name: {type: string, nullable: true}
                      profile_image: {type: string, nullable: true}
                      bio: {type: string, nullable: true}
                      visited_countries: {type: array, items: {type: string}}
                      posts_count: {type: integer}
                      followers_count: {type: integer}
                      following_count: {type: integer}
                      is_followed: {type: boolean}
                      follow_you: {type: boolean}
                  posts:
                    $ref: '#/components/schemas/PaginatedPosts'
        '404':
          description: User not found

  # ━━━ Posts ━━━
  /posts:
    get:
      summary: Get list of posts (public feed, with optional filter)
      tags: [Posts]
      parameters:
        - name: filter
          in: query
          schema:
            type: string
            enum: ['', 'following']
            default: ''
          description: 'following: show posts from followed users only'
      responses:
        '200':
          description: Paginated list of posts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPosts'

    post:
      summary: Create a new post
      tags: [Posts]
      security:
        - cookieAuth: []
        - csrfToken: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [title, country_id, style_id, purpose_id, budget_id, days]
              properties:
                title: {type: string, maxLength: 255}
                subtitle: {type: string, maxLength: 255, nullable: true}
                description: {type: string, nullable: true}
                region: {type: string, maxLength: 255, nullable: true}
                country_id: {type: integer}
                style_id: {type: integer}
                purpose_id: {type: integer}
                budget_id: {type: integer}
                days: {type: integer}
                trip_plan: {type: object, nullable: true}
                share_scope: {type: string, enum: ['公開', '限定公開', '非公開'], default: '限定公開'}
                photos:
                  type: array
                  items:
                    type: string
                    format: binary
                  maxItems: 8
      responses:
        '302':
          description: Redirect to profile.show after creation
        '422':
          description: Validation error

  /posts/create:
    get:
      summary: Show post creation form
      tags: [Posts]
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Post creation form with countries, styles, purposes, budgets

  /posts/search:
    get:
      summary: Show post search form
      tags: [Posts]
      responses:
        '200':
          description: Post search form

  /posts/search/result:
    get:
      summary: Search posts by various filters
      tags: [Posts]
      parameters:
        - {name: keyword, in: query, schema: {type: string}}
        - {name: country_id, in: query, schema: {type: integer}}
        - {name: period_from, in: query, schema: {type: string, format: date}}
        - {name: period_to, in: query, schema: {type: string, format: date}}
        - {name: days, in: query, schema: {type: integer}}
        - {name: style_id, in: query, schema: {type: integer}}
        - {name: purpose_id, in: query, schema: {type: integer}}
        - {name: budget_min, in: query, schema: {type: number}}
        - {name: budget_max, in: query, schema: {type: number}}
        - {name: sort, in: query, schema: {type: string, enum: [latest, likes], default: latest}}
      responses:
        '200':
          description: Search results (paginated)

  /posts/{post}:
    get:
      summary: Get post detail
      tags: [Posts]
      parameters:
        - name: post
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Post detail with comments, user, and likes_count
        '404':
          description: Post not found

    post:
      summary: Update a post (uses POST with Inertia)
      tags: [Posts]
      security:
        - cookieAuth: []
        - csrfToken: []
      parameters:
        - name: post
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title: {type: string}
                subtitle: {type: string, nullable: true}
                description: {type: string, nullable: true}
                region: {type: string, nullable: true}
                country_id: {type: integer}
                style_id: {type: integer}
                purpose_id: {type: integer}
                budget_id: {type: integer}
                days: {type: integer}
                trip_plan: {type: object, nullable: true}
                photos:
                  type: array
                  items:
                    type: string
                    format: binary
                  maxItems: 8
      responses:
        '302':
          description: Redirect to posts.draft after update
        '403':
          description: Forbidden (not author)
        '422':
          description: Validation error

    delete:
      summary: Delete a post
      tags: [Posts]
      security:
        - cookieAuth: []
        - csrfToken: []
      parameters:
        - name: post
          in: path
          required: true
          schema:
            type: integer
      responses:
        '302':
          description: Redirect after deletion
        '403':
          description: Forbidden (not author)

  /posts/{post}/edit:
    get:
      summary: Show post edit form
      tags: [Posts]
      security:
        - cookieAuth: []
      parameters:
        - name: post
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Post edit form

  /posts/{post}/like:
    post:
      summary: Like a post
      tags: [Posts]
      security:
        - cookieAuth: []
        - csrfToken: []
      parameters:
        - name: post
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Post liked (returns post with is_liked=true)
          content:
            application/json:
              schema:
                type: object
                properties:
                  post:
                    type: object
                  likes_count: {type: integer}
                  is_liked: {type: boolean}

    delete:
      summary: Unlike a post
      tags: [Posts]
      security:
        - cookieAuth: []
        - csrfToken: []
      parameters:
        - name: post
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Post unliked

  /posts/{post}/comments:
    post:
      summary: Add a comment to a post
      tags: [Comments]
      security:
        - cookieAuth: []
        - csrfToken: []
      parameters:
        - name: post
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body:
                  type: string
                  maxLength: 2000
      responses:
        '200':
          description: Comment added and post re-rendered (Inertia response)
        '422':
          description: Validation error

  # ━━━ Email Verification ━━━
  /auth/verify-email:
    get:
      summary: Show email verification notice
      tags: [Authentication]
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Email verification notice page

  /auth/verify-email/{id}/{hash}:
    get:
      summary: Verify email address
      tags: [Authentication]
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: hash
          in: path
          required: true
          schema:
            type: string
        - name: expires
          in: query
          required: true
          schema:
            type: integer
        - name: signature
          in: query
          required: true
          schema:
            type: string
      responses:
        '302':
          description: Redirect after verification
        '403':
          description: Invalid signature

  /auth/email/verification-notification:
    post:
      summary: Resend email verification notification
      tags: [Authentication]
      security:
        - cookieAuth: []
        - csrfToken: []
      responses:
        '302':
          description: Verification link sent

  # ━━━ Password Confirmation ━━━
  /auth/confirm-password:
    get:
      summary: Show password confirmation form
      tags: [Authentication]
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Password confirmation form
    post:
      summary: Confirm password
      tags: [Authentication]
      security:
        - cookieAuth: []
        - csrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password:
                  type: string
      responses:
        '302':
          description: Password confirmed and redirected
        '422':
          description: Validation error

  # ━━━ Password Update (authenticated user) ━━━
  /password:
    put:
      summary: Update current password
      tags: [Profile]
      security:
        - cookieAuth: []
        - csrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, password, password_confirmation]
              properties:
                current_password:
                  type: string
                password:
                  type: string
                  minLength: 8
                password_confirmation:
                  type: string
      responses:
        '302':
          description: Password updated successfully
        '422':
          description: Validation error

  # ━━━ Posts (Draft & Unpublic & My Likes) ━━━
  /posts/draft:
    get:
      summary: Show own draft posts (share_scope=限定公開)
      tags: [Posts]
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Paginated list of draft posts

  /posts/unpublic:
    get:
      summary: Show own unpublished posts (share_scope=非公開)
      tags: [Posts]
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Paginated list of unpublished posts

  /posts/mylikes:
    get:
      summary: Show posts liked by current user
      tags: [Posts]
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Paginated list of liked posts

  /posts/{post}/sharescope:
    patch:
      summary: Update post share scope
      tags: [Posts]
      security:
        - cookieAuth: []
        - csrfToken: []
      parameters:
        - name: post
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [share_scope]
              properties:
                share_scope:
                  type: string
                  enum: ['公開', '限定公開', '非公開']
      responses:
        '302':
          description: Share scope updated
        '403':
          description: Forbidden (not author)
        '422':
          description: Validation error

  # ━━━ Follow ━━━
  /follow/status/{id}:
    get:
      summary: Check if current user is following another user
      tags: [Follow]
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Follow status
          content:
            application/json:
              schema:
                type: object
                properties:
                  is_following:
                    type: boolean

  /follow/add:
    post:
      summary: Follow a user
      tags: [Follow]
      security:
        - cookieAuth: []
        - csrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [followed]
              properties:
                followed:
                  type: integer
                  description: User ID to follow
      responses:
        '302':
          description: Follow successful
        '422':
          description: Validation error

  /follow/remove:
    post:
      summary: Unfollow a user
      tags: [Follow]
      security:
        - cookieAuth: []
        - csrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [followed]
              properties:
                followed:
                  type: integer
                  description: User ID to unfollow
      responses:
        '302':
          description: Unfollow successful

  /follow/following/index/{user}:
    get:
      summary: Get list of users that the specified user is following
      tags: [Follow]
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: List of following users

  /follow/follower/index/{user}:
    get:
      summary: Get list of followers of the specified user
      tags: [Follow]
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: List of followers

  # ━━━ Notifications ━━━
  /notifications:
    get:
      summary: Get list of notifications for current user
      tags: [Notifications]
      security:
        - cookieAuth: []
      responses:
        '200':
          description: List of notifications
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: {type: integer}
                    type: {type: string}
                    actor_id: {type: integer}
                    notifiable_id: {type: integer}
                    notifiable_type: {type: string}
                    read_at: {type: string, format: date-time, nullable: true}
                    created_at: {type: string, format: date-time}

  /notifications/count:
    get:
      summary: Get count of unread notifications
      tags: [Notifications]
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Unread count
          content:
            application/json:
              schema:
                type: object
                properties:
                  unread_count:
                    type: integer

  /notifications/{notification}/read:
    patch:
      summary: Mark a notification as read
      tags: [Notifications]
      security:
        - cookieAuth: []
        - csrfToken: []
      parameters:
        - name: notification
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Notification marked as read

  /notifications/mark-all-read:
    post:
      summary: Mark all notifications as read
      tags: [Notifications]
      security:
        - cookieAuth: []
        - csrfToken: []
      responses:
        '200':
          description: All notifications marked as read

  # ━━━ User Posts (public) ━━━
  /users/{user}/posts:
    get:
      summary: Get list of public posts by a specific user
      tags: [Posts]
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Paginated list of user's posts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPosts'

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: laravel_session
    csrfToken:
      type: apiKey
      in: header
      name: X-CSRF-TOKEN

  schemas:
    PaginatedPosts:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id: {type: integer}
              title: {type: string}
              subtitle: {type: string, nullable: true}
              created_at: {type: string, format: date-time}
              user:
                type: object
                properties:
                  id: {type: integer}
                  displayid: {type: string}
                  profile_image_url: {type: string, nullable: true}
              photos_urls: {type: array, items: {type: string}}
              likes_count: {type: integer}
        links:
          type: object
        meta:
          type: object

    Error:
      type: object
      properties:
        message: {type: string}
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string